Мета: 
Переписати мовою Python технічний індикатор, написаний на PineScript. 
В якості бібліотек мають бути використані:Pandas,Plotly(або MatPlotLib) та yfinance.
Версії цих бібліотек:
yfinance==0.1.63
pandas==1.3.3
matplotlib==3.4.3
mplfinance==0.12.7a17

Умовами є:

1)Аби графіки з платформи TradingView та переписаного на Python індикатора мають бути однаковими.

2)Індикатор має бути у вигляді свічкових графіків (не ліній, не барів, а саме японських свічів).
  Також графік має включати актив та період дат.

3)Код Python має бути в ООП стилі.

4)В репозиторії має бути правильно оформлений файл requirements.txt, детальний README.md (з поясненням до скриптів, класів, методів).

5)В кожному файлі, класі, методі, функції має бути докстрінг. 

6)Сигнатури функцій та методів мають бути явно типізованими 
  (тобто треба вказати в сигнатурах тип вхідних аргументів та тип даних, що повертає функція чи метод).